.intro-section {
  background-image: url("/assets/intro-background.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;

}

 .intro-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Sansita-Swashed" !important;
    color: #d32f2f;
  }
  
.intro-section p {
  font-size: 18px;
  font-family: "Overlock";
  color: #424242;
}
