.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2,
h3 {
  font-family: "Sansita-Swashed", sans-serif;
  color: #a00000;
  margin-bottom: 10px;
}

p {
  font-family: "Overlock", sans-serif;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  flex: 0 0 150px;
  margin-bottom: 0;
  font-family: "Overlock", sans-serif;
}

.form-group input,
.form-group select,
.form-group textarea,
.mat-form-field {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Overlock", sans-serif;
}

.birthday-dropdowns {
  display: flex;
  gap: 10px;
}

.birthday-dropdowns select {
  flex: 1;
}

button {
  background-color: #a00000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Sansita-Swashed", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
  background-color: #d32f2f;
}

button[type="button"] {
  background-color: #a00000;
  margin-right: 10px;
}

button[type="button"]:hover {
  background-color: #d32f2f;
}

button[type="button"].add-child-button {
  background-color: transparent;
  color: #a00000;
  border: none;
  padding: 0;
  font-size: 18px;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
}

button[type="button"].remove-child-button {
  background-color: transparent;
  color: #424242;
  border: none;
  padding: 0;
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
}
button[type="button"].add-child-button:hover,
button[type="button"].remove-child-button:hover {
  text-decoration: none;
  color: #d32f2f;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}
.has-error input,
.has-error select,
.has-error textarea {
  border-color: #d9534f;
}

.error-message {
  color: #d9534f;
  font-family: "Overlock", sans-serif;
  margin-top: 5px;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    flex: none;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea,
  .mat-form-field {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .birthday-dropdowns {
    flex-direction: column;
    gap: 5px;
  }

  .button-container {
    justify-content: center;
  }

  .button-container button {
    width: 100%;
  }

  .error-message {
    display: none;
  }

  .form-error-message {
    color: #d9534f;
    font-family: "Overlock", sans-serif;
    margin-top: 5px;
    text-align: center;
  }
}

@media (max-width: 736px) {
  .container {
    padding: 10px;
  }
}
