/* You can add global styles to this file, and also import other style files */

/* Define @font-face for Satisfy */
@font-face {
  font-family: "Sansita-Swashed";
  src: url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-Black.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-Bold.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-ExtraBold.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-Light.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-Medium.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-Regular.ttf") format("truetype"),
    url("/assets/fonts/Sansita_Swashed/static/SansitaSwashed-SemiBold.ttf") format("truetype");
  ont-weight: normal;
  font-style: normal;
}

/* Define @font-face for Overlock */
@font-face {
  font-family: "Overlock";
  src: url("/assets/fonts/Overlock/Overlock-Black.ttf") format("truetype"),
    url("/assets/fonts/Overlock/Overlock-BlackItalic.ttf") format("truetype"),
    url("/assets/fonts/Overlock/Overlock-Bold.ttf") format("truetype"),
    url("/assets/fonts/Overlock/Overlock-BoldItalic.ttf") format("truetype"),
    url("/assets/fonts/Overlock/Overlock-Italic.ttf") format("truetype"),
    url("/assets/fonts/Overlock/Overlock-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

/* Apply fonts to elements */

html,
body {
  height: 100%;
}

body {
  margin: 0 64px;
  font-family: "Overlock", sans-serif;
}

@media (max-width: 1000px) {
  body {
    margin: 0 32px;
  }
}

@media (max-width: 736px) {
  body {
    margin: 0;
  }
}

h1,
h2,
h3,
label {
  font-family: "Sansita-Swashed";
}